@import "base/base";

html {
  height: auto;
  box-sizing: border-box;
  @include breakpoint($min865) {
    height: 100%;
    overflow: hidden;
  }
}

body {
  height: auto;
  background-color: #FFF;
  @include breakpoint($min865) {
    height: 100%;
  }
}

/*
Using a flex layout so please do not use margin
 */
h1, h2, h3, h4, p, a {
  margin: 0;
}

#react-root {
  height: auto;
  //overflow: hidden;
  @include breakpoint($min865) {
    height: 100%;
    overflow: hidden;
  }
}

/**
Logo animation for spinning
 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
* CSSReactTransitionGroup
**/

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 2700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 2700ms;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
