// @media queries
//$tablet:#{$screen-sm-min})";
//$normal:#{$screen-md-min})";
//$wide:#{$screen-lg-min})";

$min370: 370px;
$min400: 400px;
$min460: 460px;
$min510: 510px;
$min525: 525px;
$min600: 600px;
$min660: 660px;
$min700: 700px;
$max699: 699px;
$min750: 750px;
$min768: 768px;
$max768: 768px;
$min880: 880px;
$min865: 865px;
$min960: 960px;
$min992: 992px;
$max992: 992px;
$min1000: 1000px;
$min1100: 1100px;
$min1200: 1200px;
$min1280: 1280px;
$max1200: 1199px;
$min1400: 1500px;
$min1500: 1500px;

$font_GustanExtraBlack: GustanExtraBlack;
$font_GustanLight: GustanLight;
$font_Gustan: GustanMedium;
$font_GustanBold: GustanBold;

$c_orange_light_1: #FFAB8E;
$c_orange_light_2: #FF865D;
$c_orange_main: #FF6733;
$c_orange_dark_1: #F03D00;
$c_orange_dark_2: #C13100;

$c_pink_1: #E859B9;
$c_pink_2: #E42DA8;
$c_pink_3: #C80087;
$c_pink_4: #9A0068;

$theme_color: #E10098;
//rgba(225, 0, 152, 1)

// Declare the color as RGB; SASS will treat this as hex
$theme_color: rgb(225, 0, 152);

// Declare opacity levels
$opacity1000: 1;
$opacity700: .7;
$opacity500: .5;
$opacity200: .2;

// Declare another color variable as a color with an alpha
$themeColor1000: rgba($theme_color, $opacity1000);
$themeColor700: rgba($theme_color, $opacity700);
$themeColor500: rgba($theme_color, $opacity500);
$themeColor200: rgba($theme_color, $opacity200);



$menu_min_height: 70px;
$days_wrapper_height: 40px;


// FONTS
$font-primary: 'GustanBlack';

$font-family-sans-serif: HelveticaNeue,Helvetica,sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-primary;
